* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #f8c85f;
    color: #222;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #eea74b;
    color: #f0e7e7;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .title {
    color: #f7ecec;
    font-size: 2.5rem;
    text-align: center;
  }
  .temperature-converter {
    background: #0e0d0d;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px 20px;
    min-width: 320px;
    width: 100%;
    height: auto;
  }
  .result {
    text-align: center;
    margin: 20px 0;
    font-size:0.8;
    color: #faf3f3;
  }
  .result-heading {
    color: #fcf9f9;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
  }
  label {
    color: #faf3f3;
    font-size: 1.0rem;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
    font-size:0.8;
    color:#f1e9e9;
  }
  input:focus {
    border: 1px solid #3f1308;
    font-size:0.8;
    color:#f1e9e9;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
  }
  option {
    background-color: #e78739;
    color: #f6f6f6;
  }
  #convert-btn {
    background: linear-gradient(to bottom, #b8371d, #ad3320);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #e66e6e;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
    font-size:0.8;
    color:#ccc;
  }
  #convert-btn:hover {
    background: linear-gradient(to bottom, #e7a934, #eca74c);
  }
